<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration debug="true"> <!--  scan="true"> -->

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
<!--		<encoder>-->
<!--			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>-->
<!--		</encoder>-->
		<layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </pattern>
        </layout>
	</appender>

	<logger name="br.unb.cic.rvsec" level="INFO" />
	<logger name="br.unb.cic.rvsec.taint" level="DEBUG" />	

	<root level="TRACE">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>