accelerate
androguard==3.4.0a1
anthropic
bitsandbytes
boto3
call_function_with_timeout
dspy
Flask
google-generativeai
google_play_scraper
Jinja2>=3.1.2
langchain_community
litellm
Markdown
matplotlib
mcp
networkx
numpy
ollama
openai
opencv_python
openpyxl
pandas
Pillow
plantuml
plotly
protobuf
psutil
pytesseract
pytest
requests
scipy
seaborn
tensorflow
torch
tqdm
transformers
uiautomator2
Werkzeug
