accelerate
anthropic
beautifulsoup4
bitsandbytes
boto3
chromadb
datasets
dspy
faiss-cpu
feedparser
gensim
google-generativeai
gradio
ipywidgets
jupyter
jupyter-dash
jupyterlab
langchain
langchain-openai
langchain[docarray]
langchain_chroma
langchain_experimental
matplotlib
modal
numpy
ollama
openai
pandas
plotly
psutil
pydub
python-dotenv
requests
scikit-learn
scipy
sentence_transformers
sentencepiece
setuptools
speedtest-cli
tiktoken
torch
tqdm
transformers
unstructured


#dspy-ai>=2.0.0
langchain
langchain-community
ollama
torch
torchvision
torchaudio
langchain-openai
langchain-anthropic
pydantic
transformers
bitsandbytes